$main-color: #ff9c1a;
$main-width: 1440px;
$color-link: #884900;
$color-ligth: #db4e66;

* {
    margin: 0;
    padding: 0;
}

.header {
    width: $main-width;
    background: $main-color;
    padding: 42px 136px 30px 156px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: sticky;

    &-wrp {
        display: flex !important;
        justify-content: space-between;
    }

    &-filter {
        width: 800px;
        display: flex;
        justify-content: space-between;
    }

    &-tel {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: $color-link;
        align-self: center;
        text-decoration: none;
    }

    &-search {
        position: relative;

        &-inp {
            padding: 12px 21px;
            border: none;
            border-radius: 26px;
            width: 325px;
            margin-top: 15px;
        }

        &-tap {
            position: absolute;
            left: 330px;
            top: 22px;
            z-index: 2;
            background: transparent;
            border: none;
        }
    }

    &-auth {
        width: 115px;
        display: flex;
        justify-content: space-between;
        align-self: center;

        &-btn {
            width: 45px;
            height: 45px;
            border-radius: 12px;
            background-color: #fff;
            padding: 4px;
            box-sizing: border-box;
            border: none;
            cursor: pointer;
            position: relative;

            &-counter {
                width: 14px;
                height: 14px;
                position: absolute;
                z-index: 2;
                background-color: $color-ligth;
                border-radius: 50%;
                font-weight: 500;
                font-size: 10px;
                padding-top: 3px;
                box-sizing: border-box;
                color: #fff;
                right: 3px;
                top: 1px;
            }
        }
    }


    &-navigate {
        width: 1440px;
        margin: 0 auto;
        padding: 0 136px 156px;
        display: flex;
        justify-content: end;
        background-color: #fff;

        &-list {
            width: 640px;
            display: flex;
            justify-content: space-between;
            list-style-type: none;

            &-li {

                &-item {
                    padding: 20px 30px;
                }
            }
        }
    }
}
