.main
    width: 1440px
    margin: 0 auto

    &-quest
        background: url("./image/review.png")
        padding: 235px 276px
        box-sizing: border-box

        &-title
            width: 780px
            font-weight: 500
            font-size: 50px
            color: #fff
            text-align: center
            margin-bottom: 16px
