* {
    padding: 0;
    margin: 0;
}

.header {
    width: 1440px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-between ;
    background: #f2b236;
    padding: 30px 140px;
}

.header-nav-phone {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #884900;
    align-self: center;
}

.header-nav-search {
    position: relative;
    margin: 8px 0;
}

.header-nav-search-inp{
    width: 327px;
    background-color: #fff;
    border-radius: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding: 14px 21px;
    border: none;
}

.header-nav-search-btn {
    position: absolute;
    top:14px;
    left: 330px;
    z-index: 1;
    background: transparent;
    border: none;
    cursor: pointer;
}

.header-nav-auth {
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.header-nav-auth-btn {
    width: 45px;
    height: 45px;
    border-radius: 12px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}